body {
    width: 1920px;
    background-image: url(/assets/bgtexture.jpg) !important;
justify-content: left !important;
}

.navbar {
    grid-column: auto;
    background: none;
}

.font1 {
    color: #5F002B;
    font: url(/font/Montauk-Italic.otf);
}

.image2 {
    width: 672px;
    height: 449.5px;
}

.font1 {
    color: #5F002B;
    font: url(/font/Montauk-Italic.otf);
}
.image1 {
    width: 1920px;
    height: 600px ;
}

.rectangle {
    color: #5F002B !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important ;
    width: 1080px;
    height: 450px;
    background-color: #ffff !important;
    margin-left: 64px;
    align-items: center;
}

.nms {
    width: 1920px;
    margin-top: 32px;
}

.homeimage {
    height: 185px;
    width: 950px;
}

.box {
    background-color: #ffff;
}
.nms2{
width: 1900px;
}