/* Photos Page Start */
.photoPage {
    background-image: url(../assets/bgtexture.jpg);
}


.navbar {
    grid-column: auto;
    background: none;
}

.font1 {
    color: #5F002B;
    font: url(/font/Montauk-Italic.otf);
}

.image2 {
    width: 672px;
    height: 449.5px;}

.photoPagelogo {
    display: flex;
    width: 250px;
    height: auto;
    margin-bottom: 20px;
    justify-content: left;
    border: none;       
    outline: none;     
    text-decoration: none;
}

.photoPage-nav-link-custom {
    color: #5F002B;        
    text-decoration: none;  
}


.photoPageboxH {
    display: flex;
    width: 1640px;
    height: 80px;
    background-color: white;
    font-size: 50px;
    justify-content: center;
    color: #5F002B;
}

.fugaz-one-regular {
    font-family: "Fugaz One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.photoPagespce {
    display: flex;
    width: 298px;
    height: auto;
    justify-content: left;
    margin-top: 35px;
    border: none;      
}

.photoPagenav-col {
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 20px;
    color: #5F002B;
}


.photoPagenav-col .photoPagenav {
    color: #5F002B;
    text-decoration: none;
}

.photoPagefoot-col {
    font-size: 10px;
    color: #5F002B;
}

.photoPagefoot-txt {
    font-size: 10px;
    color: #5F002B;
}

.photoPagecomplogo {
    width: 100px;
    height: auto; 
}
/* Photos Page End */

body {
    background-image: url(/assets/bgtexture.jpg) !important;
}

.navbar {
    grid-column: auto;
    background: none;
}

.font1 {
    color: #5F002B;
    font: url(/font/Montauk-Italic.otf);
}
.image1 {
    width: 1920px;
    height: 600px ;
}

.rectangle {
    color: #5F002B !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important ;
    width: 1080px;
    height: 450px;
    background-color: #ffff !important;
    margin-left: 64px;
    align-items: center;
}

.nms {
    width: 1920px;
    margin-top: 32px;
}

.homeimage {
    height: 185px;
    width: 950px;
}

.box {
    background-color: #ffff;
}
.nms2{
width: 1900px;
}