/* Fonts ---------------------------------------------------------------------------------------- */

@font-face {
  font-family: 'Montauk';
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/Montauk-Light.otf");
}

@font-face {
  font-family: 'Montauk';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Montauk-Regular.otf");
}

@font-face {
  font-family: 'Montauk';
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Montauk-Bold.otf");
}

@font-face {
  font-family: 'Montauk';
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/Montauk-Italic.otf");
}

.font-mk {
  font-family: "Montauk", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.font-fz {
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* ---------------------------------------------------------------------------------------------- */

@font-face {
    font-family: 'Montauk-fontAbout';
    src: url(../fonts/Montauk-Regular.otf);
}

body {
    background-image: url(../assets/bgtexture.jpg);
}

.photoPagelogo {
  display: flex;
  width: 250px;
  height: auto;
  margin-bottom: 20px;
  justify-content: left;
  border: none;
  /* removed border */
  outline: none;
  /* removed outline */
  text-decoration: none;
}

.photoPage-nav-link-custom {
  color: #5F002B;
  /* match your other text */
  text-decoration: none;
  /* remove underline */
}


.photoPageboxH {
  display: flex;
  width: 1640px;
  height: 80px;
  background-color: white;
  font-size: 50px;
  justify-content: center;
  color: #5F002B;
}

.fugaz-one-regular {
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #5F002B;
}

.photoPagespce {
    display: flex;
    width: 298px;
    height: auto;
    justify-content: left;
    margin-top: 35px;
    border: 5px solid white;

}

.photoPagespce1 {
    display: flex;
    width: 298px;
    height: auto;
    justify-content: left;
    margin-top: 35px;
    border: none;

}

.photoPagenav-col {
  display: flex;
  align-items: center;
  justify-content: right;
  font-size: 20px;
  color: #5F002B;
}


.photoPagenav-col .photoPagenav {
  color: #5F002B;
  text-decoration: none;
}

.photoPagefoot-col {
    font-size: 10px;
    color: #5F002B;
    font-family: Montauk-fontAbout;
}

.photoPagefoot-txt {
    font-size: 10px;
    color: #5F002B;
    font-family: Montauk-fontAbout;
}

.photoPagecomplogo {
  width: 100px;
  height: auto;
  /* keep aspect ratio */
}

/* Photos Page End */

/* About Page Start */
.isa-body {
    background: center / cover url("/assets/bgtexture.jpg"), #F2E9D9;
    color: #5F002B;
}


.aboutMainImg {
    width: 100% !important;
    height: auto !important;
}


.aboutBox {
    background-color: white;
    width: 100% !important;
    height: auto !important;
    padding: 20px;
}


.pTxt {
    font-size: 12px;
    color: #5F002B;
    font-family: Montauk-fontAbout;
}

.font-m {
    font-family: "Montauk", sans-serif;
    font-weight: 300;
    font-style: normal;
}


.card {
    width: 100% !important;
    max-width: 26rem;
}


.photoPagenav-col {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


@media (max-width: 992px) {
    
    .container .row:first-child {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    
    .photoPagelogo,
    .photoPagespce1 {
        margin: 0 auto;
        display: block;
    }

   
    .photoPagenav-col {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        margin-top: 10px;
    }
}


@media (max-width: 768px) {
    .aboutBox p {
        font-size: 14px;
    }

    .aboutMainImg {
        margin-bottom: 20px;
    }

    .photoPageboxH p {
        font-size: 24px;
    }
}

@media (max-width: 1200px) {
    .row .col {
        display: flex;
        justify-content: center !important;
        margin-bottom: 20px;
    }
}

/* About Page End */





.navbar {
  grid-column: auto;
  background: none;
}

/* --------JONATHAN--------------------------------------------------------------------------------------------------------------------------------------------- */
.image2 {
  width: 672px;
  height: 449.5px;
}

.font1 {
  color: #5F002B;
  font: url("/fonts/Montauk-Regular.otf");
}

.image1 {
  width: 1920px;
  height: 600px;
}

.rectangle {
  color: #5F002B !important;
  font-size: auto;
  object-fit: fill;
  width: 1080px;
  height: 150px;
  background-color: #ffff !important;
  margin-left: 64px;
  align-items: center;
  padding: 0px !important;
}

.nmms {
  width: 100%;
  height: auto;
}

.box {
  background-color: #ffff;
}

.nms2 {
  margin: 24px;
}

/* Isaias --------------------------------------------------------------------------------------- */

.isa-body {
  background: fixed top left / 100vh url("/assets/bgtexture.jpg"), #F2E9D9;
  color: #5F002B;
  font-family: "Montauk", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.isa-header .navbar-nav .nav-item .nav-link {
  color: #5F002B !important;
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
  padding: 0.5rem 1.5rem;
}

.isa-header .nav-link:hover {
  text-decoration: underline;
}

.isa-footer {
  padding: 3rem 0;
  font-size: 1.25rem;
}

.isa-h1 {
  background-color: white;
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  text-align: center;
  margin: 1rem 0 3rem;
}

.isa-card {
  background-color: white;
  height: 100%;
}

.isa-ch {
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 0;
}

.isa-cb {
  font-size: 1.25rem;
  line-height: 1.25;
  margin-bottom: 1.5rem;
}

.isa-ih {
  font-size: 1.75rem;
  line-height: 1;
  margin-bottom: 0;
}

.isa-ib {
  font-size: 1.25rem;
  line-height: 1.25;
  margin-bottom: 0;
}

.isa-hr {
  color: #980051;
  height: 1px;
  opacity: 1;
  margin: 0.5rem 0 1rem;
}

/* ---------------------------------------------------------------------------------------------- */
