body{
    justify-content: center;
    background-image: url(../assets/bgtexture.jpg);
}
.photoPagelogo {
    display: flex;
    width: 250px;
    height: auto;
    margin-bottom: 20px;
    justify-content: left;
    border: none;
    /* removed border */
    outline: none;
    /* removed outline */
    text-decoration: none;
}

.photoPage-nav-link-custom {
    color: #5F002B;
    /* match your other text */
    text-decoration: none;
    /* remove underline */
}


.photoPageboxH {
    display: flex;
    width: 1640px;
    height: 80px;
    background-color: white;
    font-size: 50px;
    justify-content: center;
    color: #5F002B;
}

.fugaz-one-regular {
    font-family: "Fugaz One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #5F002B;
}

.photoPagespce {
    display: flex;
    width: 298px;
    height: auto;
    justify-content: left;
    margin-top: 35px;
    border: none;
    /* removed border around other images */
}

.photoPagenav-col {
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 20px;
    color: #5F002B;
}


.photoPagenav-col .photoPagenav {
    color: #5F002B;
    text-decoration: none;
}

.photoPagefoot-col {
    font-size: 10px;
    color: #5F002B;
}

.photoPagefoot-txt {
    font-size: 10px;
    color: #5F002B;
}

.photoPagecomplogo {
    width: 100px;
    height: auto;
    /* keep aspect ratio */
}

/* Photos Page End */

/* About Page Start */
.isa-body {
  background: center / cover url("/assets/bgtexture.jpg"), #F2E9D9;
  color: #5F002B;
}

.aboutMainImg{
    width: 524.5px;
    height: 524.5px;
}

.aboutBox{
    background-color: white;
height: 524.5px;
width: 764.5px;
}

.pTxt{
    font-size: 12px;
}
.font-m {
    font-family: "Montauk", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* About Page End */


.navbar {
    grid-column: auto;
    background: none;
}

/* --------JONATHAN--------------------------------------------------------------------------------------------------------------------------------------------- */
.image2 {
    width: 100%;
    height: auto;
}

.font1 {
    font-family: 'Fugaz One';
    font-weight:80px;
    color: #5F002B;
}

.image1 {
    width: 100%;
    height: auto;
}
.rectangle {
    font-family: 'Montauk';
    font: url("/fonts/Montauk-Regular.otf");
    color: #5F002B !important;
    font-size: auto;
    object-fit: scale-down;
    background-color: #ffff !important;
    align-items: center;
    padding: 0px !important;
}

.nmms {
    width: 100%;
    height: auto;
}
.box {
    margin-top: 64px;
    margin-left: 64px;
}

.nms2 {
    margin: 24px;
}
.rawr{
    align-items: stretch;
    justify-content: space-around;
    margin-top: 64px;
    margin-left: 128px;
}
.rawr1{
    margin-top: 64px;
}
.rawr2{
    justify-content: space-between;
}
/* -----Isaias------------------------------------------------------------------------------------------------------------------------------------------------ */
