body {
    background-image: url(../assets/bgtexture.jpg);
}

.logo {
    display: flex;
    width: 250px;
    height: auto;

    margin-bottom: 20px;
    justify-content: left;
}

.box {
    display: flex;
    width: 1640px;
    height: 80px;
    background-color: white;
    font-size: 50px;
    justify-content: center;
    color: #5F002B;

}

.fugaz-one-regular {
    font-family: "Fugaz One", sans-serif;
    font-weight: 400;
    font-style: normal;
}



.spce {
    display: flex;
    width: 298px;
    height: auto;
    justify-content: left;
    margin-top: 35px;
    border: white 10px solid;
}

.nav-col {
    display: flex;

    align-items: center;
    justify-content: right;

    font-size: 20px;
    color: #5F002B;
}

.foot-col {
    font-size: 20px;
    color: #5F002B;
}

.complogo {
    display: flex;
    justify-content: right;
    width: 100px;
    height: 31.6px;
}

.foot-txt{
    font-size: 20px;
}