
.navbar{
    grid-column:auto;
    background: none;
}

.font1{
color: #5F002B;
font:url(/font/Montauk-Italic.otf);
}

.image1{
justify-content:left;
width:100%;
}

.image2{
width: 50%;
margin-top: 50px;
margin-left: 100px;
}

.box
{
    background-color: #ffff;
}


.bg{
    background-image: url(/assets/bgtexture.jpg);
}