
@font-face {
  font-family: 'Montauk';
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/Montauk-Light.otf");
}
@font-face {
  font-family: 'Montauk';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Montauk-Regular.otf");
}
@font-face {
  font-family: 'Montauk';
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Montauk-Bold.otf");
}
@font-face {
  font-family: 'Montauk';
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/Montauk-Italic.otf");
}

.font-m {
  font-family: "Montauk", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.font-f {
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.menu-body {
  background: center / cover url("/assets/bgtexture.jpg");
  color: #5F002B;
  /* background-color: #F2E9D9; */
}

.menu-header .navbar-nav .nav-item .nav-link {
  color: #5F002B !important;
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
  padding: 0.5rem 1.5rem;
}

.menu-header .nav-link:hover {
  text-decoration: underline;
}

.menu-tile {
  background-color: white;
  height: 100%;
}

.menu-hr {
  color: #980051;
  height: 1px;
  opacity: 1;
  margin: 0.25rem 0 1rem;
}
