
@font-face {
  font-family: 'Montauk';
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/Montauk-Light.otf");
}
@font-face {
  font-family: 'Montauk';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Montauk-Regular.otf");
}
@font-face {
  font-family: 'Montauk';
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Montauk-Bold.otf");
}
@font-face {
  font-family: 'Montauk';
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/Montauk-Italic.otf");
}

.font-mk {
  font-family: "Montauk", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.font-fz {
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.isa-body {
  background: center / cover url("/assets/bgtexture.jpg"), #F2E9D9;
  color: #5F002B;
  font-family: "Montauk", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.isa-header .navbar-nav .nav-item .nav-link {
  color: #5F002B !important;
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
  padding: 0.5rem 1.5rem;
}

.isa-header .nav-link:hover {
  text-decoration: underline;
}

.isa-footer {
  padding: 3rem 0;
  font-size: 1.25rem;
}

.isa-h1 {
  background-color: white;
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  text-align: center;
  margin: 1rem 0 3rem;
}

.isa-card {
  background-color: white;
  height: 100%;
}

.isa-ch {
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 0;
}

.isa-cb {
  font-size: 1.25rem;
  line-height: 1.25;
  margin-bottom: 1.5rem;
}

.isa-ih {
  font-size: 1.75rem;
  line-height: 1;
  margin-bottom: 0;
}

.isa-ib {
  font-size: 1.25rem;
  line-height: 1.25;
  margin-bottom: 0;
}

.isa-hr {
  color: #980051;
  height: 1px;
  opacity: 1;
  margin: 0.5rem 0 1rem;
}
